<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<img src="img/sky.jpg" alt="Logo">
		<h1><%= title %></h1>
		
		<% if(userFullName) { %>
			<h2>Hello <%= userFullName %> </h2>
			<a href="/signout">Sign out</a>
		<% } else { %>
			<a href="/signup">Signup</a>
			<a href="/signin">Signin</a>
		<% } %>
		
		<div>
			<a href='/#!/articles'>Articles</a>
		</div>
		
		<section ng-view>
		</section>
		
		<script type="text/javascript">
			window.user = <%- user || 'null' %>
		</script>
				
		<script data-main="app-main" src="/lib/requirejs/require.js"></script>
	</body>
</html>